*{
  font-family: "Montserrat",sans-serif;
}
/* big sections / bg colors */
.hidden {
  display: none;
}

body,
button,
input,
.clock-section,
.activity-form {
  background-color: #46424D;
  outline: none;
}

header {
  align-items: center;
  display: flex;
  height: 5em;
  justify-content: center;
}

.main-section {
  align-content: stretch;
  display: flex;
  height: 100%;
}

aside,
.activity-maker,
.clock-view {
  background-color: #2b2733;
}
/* h#s */
h1 {
  font-size: 1.75em;
  font-weight: lighter;
  margin: 0px;
}

h2 {
  margin-bottom: .5em;
}

h4 {
  margin-top: 2em
}

h2,
h4,
input {
  color: #CBC9CF;
  font-weight: lighter;
}

h3,
header,
button {
  color: #FFF;
}

h3,
button  {
  font-size: .9em;
}

h3 {
  margin-top: 3em;
}
/* activity form section */
.activity-maker,
.clock-view {
  padding: 0em 2em;
  width: 65%;
}

.activity-form,
.clock-section {
  box-shadow: 3px 3px .2em #26222D;
  display: flex;
  flex-direction: column;
  height: min-content;
  padding: 0em 5em;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
}

.category-buttons > button {
  align-items: center;
  border: 2px solid #FFF;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  padding: .4em;
  width: 10em;
}

button,
.activity-form,
.clock-section {
  border-radius: 5px 5px;
}

.button-img {
  padding: .2em;
  width: 1.25em;
}

.center-button {
  margin: 0em .2em;
}

input {
  border-color: #CBC9CF;
  border-style: none none solid none;
  border-width: .2px;
}

.time-values {
  display: flex;
  justify-content: space-between;
}

.start-activity-button-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.start-button {
  background-color: #FFF;
  border: none;
  color: #46424D;
  font-size: 1.2em;
  margin: 3em 0em;
  padding: .6em 1.5em;
}
/* past activity section */
.activity-log {
  margin: 0em 0em 0em .2em;
  padding: 0em 2em;
  width: 35%;
}

.no-activity {
  text-align: center;
}

.clock-section {
  align-items: center;
  padding: 3em;
  height: min-content;
}

.remaining-time {
  color: #FFF;
  font-size: 5em;
  font-weight: bold;
}

.activity-description {
  font-size: 1.5em;
  color: #FFF;
}

.start-clock {
  border-radius: 100%;
  width: 9em;
  height: 9em;
  border-width: 3px;
  border-style: solid;
  font-size:1.7em;
  margin: 1.5em;

}
