*{
  font-family: "Montserrat",sans-serif;
}
/* big sections / bg colors */

body,
button,
input,
.clock-section,
.activity-form,
.card,
.home-button-section {
  background-color: #46424D;
  outline: none;
}

header {
  align-items: center;
  display: flex;
  height: 5em;
  justify-content: center;
}

.main-section {
  align-content: stretch;
  display: flex;
  height: 100%;
}

aside,
.activity-maker,
.clock-view {
  background-color: #2b2733;
}
/* h#s */
h1 {
  font-size: 1.75em;
  font-weight: lighter;
  margin: 0px;
}

h2 {
  margin-bottom: .5em;
}

h4 {
  margin-top: 2em
}

h2,
h4,
input,
.card-description {
  color: #CBC9CF;
  font-weight: lighter;
}

h3,
header,
button {
  color: #FFF;
}

h3,
button,
.error  {
  font-size: .9em;
}

h3 {
  margin-top: 3em;
}
/* activity form section */
.activity-maker,
.clock-view {
  padding: 0em 2em;
  width: 65%;
}

.activity-form,
.clock-section,
.home-button-section {
  box-shadow: 3px 3px .2em #26222D;
  display: flex;
  flex-direction: column;
  height: min-content;
  padding: 0em 5em;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
}

.category-buttons > button {
  align-items: center;
  border: 2px solid #FFF;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  padding: .4em;
  width: 10em;
}

button,
.activity-form,
.clock-section,
.card,
.home-button-section {
  border-radius: 5px 5px;
}

.button-img {
  padding: .2em;
  width: 1.25em;
}

.center-button {
  margin: 0em .2em;
}

input {
  border-color: #CBC9CF;
  border-style: none none solid none;
  border-width: .2px;
}

.time-values {
  display: flex;
  justify-content: space-between;
}

.start-activity-button-box{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.start-button,
.home {
  background-color: #FFF;
  border: none;
  color: #46424D;
  font-size: 1.2em;
  margin: 3em 0em;
  padding: .6em 1.5em;
}

.log-button {
  background-color: #FFF;
  border: none;
  color: #46424D;
  font-size: 1.2em;
  margin: 2em 0em;
  padding: .6em 1.5em;
}

.error{
  color: #efb7ec;
}

.warning {
  width: 1.25em;
  padding-right: .2em;
}
/* past activity section */
.activity-log {
  margin: 0em 0em 0em .2em;
  padding: 0em 2em;
  width: 35%;
  overflow: scroll;
}

.activity-cards {
  text-align: center;
}

.home-button-section {
  align-items: center;
  padding: 3em;
  height: min-content;
}

.clock-section {
  align-items: center;
  padding: 3em 3em 0em 3em;
  height: min-content;
}

.remaining-time {
  color: #FFF;
  font-size: 5em;
  font-weight: bold;
}

.activity-description {
  font-size: 1.5em;
  color: #FFF;
}

.start-clock {
  border-radius: 100%;
  width: 9em;
  height: 9em;
  border-width: 3px;
  border-style: solid;
  font-size:1.7em;
  margin: 1.5em;
}

.decoy-button {
  font-size:1.7em;
  border-radius: 100%;
  width: 9em;
  height: 9em;
  border-width: 3px;
  border-style: solid;
  margin: 1.5em;
}

.complete {
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 1em;
  margin-bottom: .4em;
}

.card-info > h1 {
  font-size: 1em;
}

.card-info > h3 {
  padding-top: 0em;
  margin: 0em;
}

.card-info > p {
  margin: .4em 0em;
  color: #cbc9cf;
  text-align: left;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.line {
  height: 1.5em;
}

.hidden {
  display: none;
}
