*{
  font-family: "Montserrat",sans-serif;
}

body {
  background-color: #2B2733;
}
header,
.activity-form,
button,
input {
  background-color: #46424D;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}
/* h#s */
h1 {
  margin: 0px;
  font-weight: lighter;
  font-size: 1.75em;
}

h2 {
  color: #CBC9CF;
  font-weight: lighter;
}
header,
h3,
button {
  color: #FFF;
}
/* activity form section */
.activity-maker {
  margin: 2em;
}
.activity-form {
  display: flex;
  flex-direction: column;
  height: min-content;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
}

.time-values {
  display: flex;
  justify-content: space-between;
}

input {
  border-width: .2px;
  border-style: none none solid none;
  border-color: #CBC9CF;
}

button {
  border: 2px solid #FFF;
}

.start-activity-button-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.start-button {
  background-color: #FFF;
  color: #46424D;
}
